---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Wed, 11 Mar 2020 19:55:58 GMT
- request:
    method: get
    uri: https://api.sandbox.yolt.io/transactions/transactions-by-account/me?accountId=13d4e396-2871-44d3-9400-5e743c73c405
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
      Client-User-Id:
      - 612c0f4a-5912-411e-8c33-23067ff8f096
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"transactions":[{"accountId":"13d4e396-2871-44d3-9400-5e743c73c405","id":"6121a1ab-f913-34e4-9159-87825054c377","transactionType":"PENDING","date":"2020-03-01","amount":-324.93,"currency":"GBP","category":"General","description":"TESCO
        STORE 1234 YV 5678","shortDescription":"TESCO STORE 1234 YV 5678","merchantObject":null,"note":"","cycleId":null,"_links":{"_self":{"href":"/transactions/transactions/me/13d4e396-2871-44d3-9400-5e743c73c405/2020-03-01/PENDING/6121a1ab-f913-34e4-9159-87825054c377"},"similarTransactionsForRecategorization":{"href":"/transactions/bulk-recategorization/me/search-similar?accountId=13d4e396-2871-44d3-9400-5e743c73c405&transactionId=6121a1ab-f913-34e4-9159-87825054c377"},"similarTransactionsBasedOnMerchant":{"href":"/transactions/merchant-adjustments/me/accounts/13d4e396-2871-44d3-9400-5e743c73c405/transactions/6121a1ab-f913-34e4-9159-87825054c377/similar-transactions"},"similarTransactionsForBulkTagging":{"href":"/transactions/bulk-tagging/me/search-similar?accountId=13d4e396-2871-44d3-9400-5e743c73c405&transactionId=6121a1ab-f913-34e4-9159-87825054c377"},"similarTransactionsForBulkTaggingSetTags":{"href":"/transactions/bulk-tagging/me/set-tags"},"paymentCycle":null}},{"accountId":"13d4e396-2871-44d3-9400-5e743c73c405","id":"a758b921-b4c1-332f-9473-8b64889c7a2b","transactionType":"PENDING","date":"2020-02-23","amount":-335.60,"currency":"GBP","category":"General","description":"TESCO
        STORE 1234 YV 5678","shortDescription":"TESCO STORE 1234 YV 5678","merchantObject":null,"note":"","cycleId":null,"_links":{"_self":{"href":"/transactions/transactions/me/13d4e396-2871-44d3-9400-5e743c73c405/2020-02-23/PENDING/a758b921-b4c1-332f-9473-8b64889c7a2b"},[...]
- request:
    method: get
    uri: https://api.sandbox.yolt.io/transactions/transactions-by-account/me?accountId=13d4e396-2871-44d3-9400-5e743c73c405&next=00570010004b001013d4e396287144d394005e743c73c40504000000010a323031392d31312d32342433316137393063662d313765622d336363612d396366342d66663961346534653963303303474250f07fffffebf07fffffeb3d2dc5b7ae748b67121b2ec72d6c68c00004
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authoriza[...]
