---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Tue, 10 Mar 2020 15:17:58 GMT
- request:
    method: get
    uri: https://api.sandbox.yolt.io/site-management/user-sites/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
      Client-User-Id:
      - 612c0f4a-5912-411e-8c33-23067ff8f096
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"61e57f53-8f71-43c6-afb3-702c2a5451e6","siteId":"ca8a362a-a351-4358-9f1c-a8b4b91ed65b","status":"REFRESH_FINISHED","reason":null,"statusTimeoutSeconds":null,"action":null,"site":null,"migrationStatus":"NONE","lastDataFetch":"2020-03-10T15:13:53+0000","externalConsentExpiresAt":"2020-06-08T15:13:52.060Z","noLongerSupported":false,"_links":{"site":{"href":"/site-management/sites/ca8a362a-a351-4358-9f1c-a8b4b91ed65b"},"refresh":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6/refresh"},"delete":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6"},"updateCredentials":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6"},"mfaForm":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6/mfa"},"migrationGroup":{"href":""},"renewConsent":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6/renew-access"},"renewAccess":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6/renew-access"},"getNextStep":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6/step"}}}]'
  recorded_at: Tue, 10 Mar 2020 15:17:58 GMT
recorded_with: VCR 5.1.0
