---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Tue, 10 Mar 2020 15:12:36 GMT
- request:
    method: get
    uri: https://api.sandbox.yolt.io//site-management/sites/ca8a362a-a351-4358-9f1c-a8b4b91ed65b/initiate-user-site
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
      Client-User-Id:
      - 612c0f4a-5912-411e-8c33-23067ff8f096
      Redirect-Url-Id:
      - 4c85be05-9aa3-4532-9c6a-dd0622c06a72
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_links":{"postLoginStep":{"href":"/site-management/user-sites"}},"redirect":{"url":"https://yoltbank.sandbox.yolt.io/yoltbank/openbanking/v3/authorize?response_type=code+id_token&client_id=d0c45812-6364-45ce-97c4-b37c3cfc252f&state=3216797e-8f63-4d1b-a042-cca0ede3db05&scope=openid+accounts&nonce=3216797e-8f63-4d1b-a042-cca0ede3db05&redirect_uri=http%3A%2F%2Flocalhost%3A9292%2Fyolt%2Foauth_callback&request=eyJhbGciOiJSUzI1NiIsImtpZCI6IjA3ZTVjNTgwLTNiOWQtNDI4MS1hODRjLWI3ZGNjMDAwYTcyNyJ9.eyJpc3MiOiJkMGM0NTgxMi02MzY0LTQ1Y2UtOTdjNC1iMzdjM2NmYzI1MmYiLCJhdWQiOiJZb2x0YmFuayIsInJlc3Bvb[...]
