---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Tue, 10 Mar 2020 15:11:32 GMT
- request:
    method: post
    uri: https://api.sandbox.yolt.io/client-users/client-users
    body:
      encoding: UTF-8
      string: '{"countryCode":"NL"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"612c0f4a-5912-411e-8c33-23067ff8f096","clientId":"db63d6fb-426c-4153-85cd-b7491b3f0a91","countryCode":"NL","created":"2020-03-10T15:11:32.461+0000"}'
  recorded_at: Tue, 10 Mar 2020 15:11:32 GMT
recorded_with: VCR 5.1.0
