---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Tue, 10 Mar 2020 15:27:21 GMT
- request:
    method: get
    uri: https://api.sandbox.yolt.io//accounts/user-accounts/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
      Client-User-Id:
      - 612c0f4a-5912-411e-8c33-23067ff8f096
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"type":"FOREIGN_CURRENCY","accounts":[{"id":"13d4e396-2871-44d3-9400-5e743c73c405","externalId":"2","name":"ING","nickname":null,"currencyCode":"GBP","balance":100.00,"availableBalance":100.00,"lastRefreshed":"2020-03-10T15:13:53+0000","updated":"2020-03-10T15:13:53+0000","status":"DATASCIENCE_FINISHED","userSite":{"id":"61e57f53-8f71-43c6-afb3-702c2a5451e6","siteId":"ca8a362a-a351-4358-9f1c-a8b4b91ed65b"},"type":"CURRENT_ACCOUNT","hidden":false,"closed":false,"migrated":false,"accountNumber":{"holderName":"ING","scheme":"SORTCODEACCOUNTNUMBER","identification":"23885922222222","secondaryIdentification":null},"customAccountNumber":null,"accountMaskedIdentification":null,"_links":{"updateAccount":{"href":"/accounts/user-accounts/me/accounts/13d4e396-2871-44d3-9400-5e743c73c405"},"hideAccounts":{"href":"/accounts/user-accounts/me/accounts/hide-unhide"},"transactions":{"href":"/transactions/transactions-by-account/me?accountId=13d4e396-2871-44d3-9400-5e743c73c405"},"logo":{"href":"/content/images/sites/logos/ca8a362a-a351-4358-9f1c-a8b4b91ed65b.png"},"icon":{"href":"/content/images/sites/icons/ca8a362a-a351-4358-9f1c-a8b4b91ed65b.png"},"userSite":{"href":"/site-management/user-sites/61e57f53-8f71-43c6-afb3-702c2a5451e6"},"savingsGoals":{"href":"/savings/me/saving-goals/goals/13d4e396-2871-44d3-9400-5e743c73c405/configs"}}},{"id":"6976411d-026e-42b0-b8a9-cb40c1944606","externalId":"1","name":"HSBC","nickname":null,"currencyCode":"GBP","balance":200.00,"availableBalance":200.00,"lastRefreshed":"2020-03-10T15:13:53+0000","updated":"2020-03-10T15:13:53+0000","status":"DATASCIENCE_FINISHED","userSite":{"id":"61e57f53-8f71-43c6-afb3-702c2a5451e6","siteId":"ca8a362a-a351-4358-9f1c-a8b4b91ed65b"},"type":"CURRENT_ACCOUNT","hidden":fals[...]
