---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Tue, 10 Mar 2020 13:25:14 GMT
- request:
    method: get
    uri: https://api.sandbox.yolt.io//site-management/v2/sites/ca8a362a-a351-4358-9f1c-a8b4b91ed65b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"ca8a362a-a351-4358-9f1c-a8b4b91ed65b","name":"Yolt test Open
        banking","supportedAccountTypes":["CURRENT_ACCOUNT"],"loginType":"URL","connectionType":"DIRECT_CONNECTION","services":{"ais":{"onboarded":{"redirectUrlIds":["4c85be05-9aa3-4532-9c6a-dd0622c06a72"],"client":false},"hasRedirectSteps":true,"hasFormSteps":false}},"groupingBy":"Yolt
        test Open banking","tags":[],"enabled":true,"availableInCountries":["GB"],"health":{"manualMaintenanceStatus":"NONE","manualMaintenanceFrom":null,"manualMaintenanceTo":null,"successRatioForCreateOrUpdate":"not
        available","successRatioRefresh":"not available","healthStatus":"UP"},"noLongerSupported":false}'
  recorded_at: Tue, 10 Mar 2020 13:25:15 GMT
recorded_with: VCR 5.1.0
