---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.yolt.io/tokens/tokens
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&request_token=CENSORED_REQUEST_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"CENSORED_ACCESS_TOKEN","token_type":"Bearer","expires_in":600,"scope":""}'
  recorded_at: Tue, 10 Mar 2020 16:48:49 GMT
- request:
    method: get
    uri: https://api.sandbox.yolt.io/transactions/transactions-by-date/me?dateInterval=2020-01-01/2020-04-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CENSORED_ACCESS_TOKEN
      Client-User-Id:
      - 612c0f4a-5912-411e-8c33-23067ff8f096
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"transactions":[{"accountId":"bb37c8b9-c421-43ec-bd14-4714a2c4dec5","id":"24d18ac8-598f-36b8-92fe-cde7d9a563ab","transactionType":"PENDING","date":"2020-03-08","amount":-258.75,"currency":"GBP","category":"General","description":"CRAFT
        terdam DOMESTIC PAYBREAK APP MARKS","shortDescription":"CRAFT terdam DOMESTIC
        PAYBREAK APP MARKS","merchantObject":null,"note":"","cycleId":null,"_links":{"_self":{"href":"/transactions/transactions/me/bb37c8b9-c421-43ec-bd14-4714a2c4dec5/2020-03-08/PENDING/24d18ac8-598f-36b8-92fe-cde7d9a563ab"},"similarTransactionsForRecategorization":{"href":"/transactions/bulk-recategorization/me/search-similar?accountId=bb37c8b9-c421-43ec-bd14-4714a2c4dec5&transactionId=24d18ac8-598f-36b8-92fe-cde7d9a563ab"},"similarTransactionsBasedOnMerchant":{"href":"/transactions/merchant-adjustments/me/accounts/bb37c8b9-c421-43ec-bd14-4714a2c4dec5/transactions/24d18ac8-598f-36b8-92fe-cde7d9a563ab/similar-transactions"},"similarTransactionsForBulkTagging":{"href":"/transactions/bulk-tagging/me/search-similar?accountId=bb37c8b9-c421-43ec-bd14-4714a2c4dec5&transactionId=24d18ac8-598f-36b8-92fe-cde7d9a563ab"},"similarTransactionsForBulkTaggingSetTags":{"href":"/transactions/bulk-tagging/me/set-tags"},"paymentCycle":null}},{"accountId":"bb37c8b9-c421-43ec-bd14-4714a2c4dec5","id":"348e8b3b-b1f2-330a-b64b-7385ece05ec2","transactionType":"PENDING","date":"2020-03-07","amount":-274.71,"currency":"GBP","category":"General","description":"STARLING
        Go AMAZONCO VISA hire SPRMRKTS JUN WILKO P","shortDescription":"STARLING Go
        AMAZONCO VISA hire SPRMRKTS JUN WILKO P","merchantObject":null,"note":"","cycleId":null,"_links":{"_self":{"href":"/transactions/transactions/me/bb37c8b9-c421-43ec-bd14-4714a2c4d[...]
